
{% extends "home.html"%}
 {% block content %}
 <div style="display: flex;justify-content: center;align-items: center;margin-top: 20px; margin-bottom:50px;">
   <div style="background-color:rgb(231, 231, 231); padding: 15px; border-radius: 20px;">
     <!-- Pills navs -->
     <ul class="nav nav-justified mb-3">
           <li class="nav-item">
           <a class="nav-link active  btn btn-secondary" href="{% url "login" %}">Sign In</a>
           </li>
           <li class="nav-item">
              <a class="nav-link "href="{% url "register" %}">Register</a>
           </li>
        </ul>
          <!-- forms starts here -->
          <form action="{% url "login" %}" method="POST">
                {% csrf_token %}
                <!-- username -->
                    <div class="mb-2 mt-4 m-2">
                      <label>Email</label>
                      <input type="email" class="form-control" placeholder="Enter the email" name="email">
                    </div>
                    <!-- username ends here -->
                    <!-- password and confirm password -->
                    <div style="display: flex ;">
                      <div class="mb-2 mt-4 m-2">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Enter the password" name="password">
                        <p><a href="{% url "forgotpassword" %}">Forgotpassword?</a></p>
                      </div>
                    </div>
                <!-- password and confirm password ends here-->
                        <button type="submit" class="btn btn-secondary btn-block m-4" style="width: 400px;">Sign In</button>
          </form>
                <div class="text-center">
                    <p>Dont have a account? <a href="{% url "register" %}">Register</a></p>
                </div>
    </div>
</div>
{% endblock content %}


