{% extends "home.html"%}
 {% block content %}
 <div style="display: flex;justify-content: center;align-items: center;margin-top: 20px; margin-bottom:50px;">
   <div style="background-color:rgb(231, 231, 231); padding: 15px; border-radius: 20px;">
     <!-- Pills navs -->
     <div class="breadcrumb__text mb-3 text-center">
        <h4>Reset Password</h4>
     </div>
          <!-- forms starts here -->
          <form action="{% url "resetpassword" %}" method="POST">
                {% csrf_token %}
             
                    <!-- password and confirm password -->
                    <div style="display: flex ;">
                        <div class="mb-2 mt-4 m-2">
                          <label>Password</label>
                          <input type="password" class="form-control" placeholder="Enter the password" name="password">  
                        </div>
                        <div class="form-outline mb-2 mt-4">
                          <label>Repeat Password</label>
                          <input type="password" class="form-control" placeholder="Confirm the password" name="repeat_password">  
                          
                      
                        </div>
                    </div>
                    <!-- password and confirm password ends here-->
                        <button type="submit" class="btn btn-secondary btn-block m-4" style="width: 400px;">Reset</button>
          </form>
                
    </div>
</div>
{% endblock content %}