{% extends "home.html" %}
{% block content %}

<section style="background-color: #eee;">
    <div class="container py-5">
        {% include "dashboardinclude.html" %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4 pt-4 pb-3">
                    <h4 class="fw-bolder text-center p-2 "><strong>Change your password</strong></h4>
                   <div class="col-md-12">
                    <div class="col-lg-12 col-md-6">
                        <form method="POST" action="{% url "changepassword" %}">
                            {% csrf_token %}
                        
                        <div class="checkout__input">
                            <p>Current Password<span>*</span></p>
                            <input type="password" name="current_password">
                        </div>
                        <div class="form-row">
                            <div class="checkout__input col-md-6">
                                <p>New Password<span>*</span></p>
                                <input type="password" name="new_password">
                            </div>
                            <div class="checkout__input col-md-6">
                                <p>Repeat Password<span>*</span></p>
                                <input type="password" name="confirm_password">
                            </div>
                        </div>
                          
                        <div class="text-center">
                            <button type="submit" class=" btn btn-secondary p-2 rounded ">SUBMIT</button>
                        </div>
                    </form>
                    </div>
                   </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}