{% extends "home.html" %}
{% load static %}
{% block content %}
 <!-- Shop Details Section Begin -->
 <section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a href="./index.html">Home</a>
                        <a href="./shop.html">Shop</a>
                        <span>Product Details</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{{single_product.product_image.url}}">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{{single_product.product_image.url}}">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{{single_product.product_image.url}}">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="{{single_product.product_image.url}}">
                                    <i class="fa fa-play"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="{{single_product.product_image.url}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <form action="{% url 'add_cart' single_product.id %}" method="POST">
                {% csrf_token %}

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="product__details__text">
                            <h4>{{single_product.product_name}}</h4>
                            <h3>${{single_product.product_price}} only</h3>
                            <div class="product__details__last__option">
                            <ul>
                                <li><span>Categories:</span> {{single_product.category}}</li>
                                <li><span>Brand:</span> {{single_product.product_brand}}</li>
                            </ul>
                        </div>
                            {% comment %} <p>{{single_product.product_description}}</p> {% endcomment %}
                            <div class="product__details__option">
                                <div class="product__details__option">
                                    <span>Size:</span>
                                    <div class="product__details__option__size">
                                        <select name="size" required>
                                        <option value="">Select Size</option>
                                        {% for i  in single_product.variation_set.sizes %}
                                        <option value="{{i.variation_value}}">{{i.variation_value}}</option>        
                                    {% endfor %} 
                                         
                                    </select>
                                </div>
                                <span>Color:</span>
                                <div class="product__details__option__size">
                                    <select name="color" required>
                                    <option value="">Select Color</option>

                                    {% for i  in single_product.variation_set.colors %}
                                        <option value="{{i.variation_value}}">{{i.variation_value}}</option>        
                                    {% endfor %}       
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="product__details__cart__option">
                            <div class="quantity">
                                
                            </div>
                            {% if single_product.product_stock <= 0 %}
                            <a href="" class="btn btn-danger">OUT OF STOCK</a>
                            {% else %}
                            {% if in_cart %}
                            <a href="{% url 'cart' %}" class="primary-btn">Added to cart <span>✔️</span></a>
                            {% else %}
                            <button type="submit" class="primary-btn">add to cart</button>
                            {% endif %}
                            {% endif %}
                        </div>
                        <div class="product__details__last__option">
                            <h5><span>Guaranteed Safe Checkout</span></h5>
                            <img src="{% static "img/shop-details/details-payment.png" %}" alt="">
                           
                        </div>
                    </div>
                </div>
            </form>

            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                role="tab">Description</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <p class="note">Nam tempus turpis at metus scelerisque placerat nulla deumantos
                                        solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis
                                        ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo
                                    pharetras loremos.</p>
                                    <div class="product__details__tab__content__item">
                                        <h5>Products Infomation</h5>
                                        <p>A Pocket PC is a handheld computer, which features many of the same
                                            capabilities as a modern PC. These handy little devices allow
                                            individuals to retrieve and store e-mail messages, create a contact
                                            file, coordinate appointments, surf the internet, exchange text messages
                                            and more. Every product that is labeled as a Pocket PC must be
                                            accompanied with specific software to operate the unit and must feature
                                        a touchscreen and touchpad.</p>
                                        <p>As is the case with any new technology product, the cost of a Pocket PC
                                            was substantial during it’s early release. For approximately $700.00,
                                            consumers could purchase one of top-of-the-line Pocket PCs in 2003.
                                            These days, customers are finding that prices have become much more
                                            reasonable now that the newness is wearing off. For approximately
                                        $350.00, a new Pocket PC can now be purchased.</p>
                                    </div>
                                    <div class="product__details__tab__content__item">
                                        <h5>Material used</h5>
                                        <p>Polyester is deemed lower quality due to its none natural quality’s. Made
                                            from synthetic materials, not natural like wool. Polyester suits become
                                            creased easily and are known for not being breathable. Polyester suits
                                            tend to have a shine to them compared to wool and cotton suits, this can
                                            make the suit look cheap. The texture of velvet is luxurious and
                                            breathable. Velvet is a great choice for dinner party jacket and can be
                                        worn all year round.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
{% endblock content %}