<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COZA STORE</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    
    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/elegant-icons.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/magnific-popup.cs"%}s" type="text/css">
    <link rel="stylesheet" href="{% static "css/nice-select.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css"%}" type="text/css">
    {% comment %} paypal script {% endcomment %}
    
</head>

<body>
   
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="header__top__left">
                            <p>Free shipping, 30-day return or refund guarantee.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="header__top__right">
                            <div class="header__top__links">

                                {% comment %} {% if user.id == 1 %}
                                    <a>Welcome ADMIN</a>
                                    <a href="{% url 'adminpage' %}">ADMIN</a>
                                     {% elif user.id is None  %}
                                        <a>Welcome Guest</a>
                                        <a href="{% url "login" %}">Sign in</a>
                                        <a>|</a>
                                        <a href="{% url "register" %}">Register</a>
                                    {% else %}
                                        <a>Welcome {{user.username}}</a>
                                        <a href="{% url 'userout' %}">Logout</a>
                                        <a>|</a>
                                        <a href="{% url "dashboard" %}">Dashboard</a> 
                                {% endif %} {% endcomment %}
                                {% if user.id is  None%}
                                <a>Welcome Guest</a>
                                <a href="{% url "login" %}">Sign in</a>
                                <a>|</a>
                                <a href="{% url "register" %}">Register</a>
                                {% else %}
                                <a>Welcome {{user.username}}</a>
                                <a href="{% url 'userout' %}">Logout</a>
                                <a>|</a>
                                <a href="{% url "dashboard" %}">Dashboard</a>
                                {% endif %} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <a href="{% url "home" %}"><h2 class="mt-3 fw-bolder">COZASTORE</h2></a>

                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="{% url "home" %}">Home</a></li>
                            <li><a href="{% url "shop" %}">Shop</a></li>
                            <li><a href="{% url "blog" %}">Blog</a></li>
                            <li><a href="{% url "contact" %}">Contacts</a></li>
                        </ul>
                    </nav>
                    <form class="input-group rounded mb-2" action="{% url "search" %}"method="GET" >
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="keyword"/>
                        <button type="submit"class="input-group-text border-0" id="search-addon">
                          🔍
                        </button>
                    </form>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        {% comment %} <a href="#" class="search-switch"><img src="{% static "img/icon/search.png" %}" alt=""></a> {% endcomment %}
                        {% comment %} <a href="#"><img src="{% static "img/icon/user.png" %}" alt=""></a> {% endcomment %}
                        <a href="#"><img src="{% static "img/icon/heart.png" %}" alt=""></a>
                        <a href="{% url "cart" %}"> <i class="fa fa-shopping-cart" style="font-size:28px;color:black;"></i><span class="text-warning bg-danger p-1 rounded-circle ml-2">{{cart_count}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% include "alert.html" %}
    <!-- Header Section End -->
    <!-- payment Section start -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Order details</h4>
                        <div class="breadcrumb__links">
                            <a href="{% url "home" %}">Home</a>
                            <a href="{% url "shop" %}">Checkout</a>
                            <span>Order details</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <section class="h-100 w-100" style="background-color: #eee;">
                    <div class="container h-100 py-5">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            
                            <div class="col-lg-8">
                                <div class="card m-2">
                                    <h5 class="card-header">Billing Address</h5>
                                    <div class="card-body">
                                        
                                        <p class="card-text mb-0"><b>Name:</b> {{order.full_name}}</p>
                                        <p class="card-text mb-0"><b>Phone:</b> {{order.phone}}</p>
                                        <p class="card-text mb-0"><b>Email:</b> {{order.email}}</p>
                                        <p class="card-text mb-0"><b>Address:</b> {{order.full_address}}</p>
                                        <p class="card-text mb-0"><b>City:</b> {{order.city}} <b>PIN:</b> {{order.pincode}}</p>
                                        <p class="card-text mb-0"><b>State:</b> {{order.state}} <b>Country:</b> {{order.country}}</p>
                                        {% if order.order_note %}
                                        <p class="card-text mb-0"><b>Order Note:</b> {{order.order_note}}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <h5 class="card-header">Payment Method</h5>
                                    <div class="card-body">
                                        
                                        <p class="card-text">Paypal</p>
                                       
                                    </div>
                                </div>
                                <div class="card m-2">
                                    <h5 class="card-header">Review Product</h5>
                                    
                                    {% for cart_item  in cart_items  %}
                                    
                                    <div class="card-body  m-2">
                                        <div class="row border-top border-bottom">
                                            <div class="row main align-items-center">
                                                <div class="col-2"><img class="img-fluid p-2" src="{{cart_item.product.product_image.url}}"></div>
                                                <div class="col">
                                                    <div class="row text-muted">Shirt</div>
                                                    <div class="row">{{cart_item.product.product_name}}</div>
                                                </div>
                                                <div class="col">
                                                    <a  class="m-2 pl-3 pr-3 border border-dark rounded">{{cart_item.quantity}}</a>
                                                </div>
                                                <div class="col ">$ {{cart_item.product.product_price}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="cart__total">
                                    <h2><b>Cart total</b></h2>
                                    <ul>
                                        <li>Total <span>$ {{total}}</span></li>
                                        <li>Tax 2% <span>${{tax}}</span></li>
                                        <li>Grand Total <span>${{grand_total}}</span></li>
                                    </ul>
                                    <div id="paypal-button-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <!-- payment Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="{% static "img/footer-logo.png" %}" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="{% static "img/payment.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>
                        hgfvdystdfytdfvtydftfdy
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
        </div>
    </div>
    <!-- Search End -->
    
    <!-- Js Plugins -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo"data-sdk-integration-source="developer-studio"></script>
    <script src="{% static "js/jquery-3.3.1.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/jquery.nice-select.min.js"%}"></script>
    <script src="{% static "js/jquery.nicescroll.min.js"%}"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js"%}"></script>
    <script src="{% static "js/jquery.countdown.min.js"%}"></script>
    <script src="{% static "js/jquery.slicknav.js"%}"></script>
    <script src="{% static "js/mixitup.min.js"%}"></script>
    <script src="{% static "js/owl.carousel.min.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>

  <!-- Include the PayPal JavaScript SDK -->
 <script src="https://www.paypal.com/sdk/js?client-id=AXKSdq43Z0_s86xHN9tFGoaG24i2wkutTlzKKf0nmNIq_Y0sTDEFlu1-L5Rvh8c2B5ECQKl-hH5RFPbQ&currency=USD"></script>
 <script>
function getCookie(name) {
    let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken   = getCookie('csrftoken')
    var amount      = "{{ grand_total }}";
    var orderID     = "{{order.order_number}}";
    var url         = "{% url 'payments' %}";
    var orderID     = "{{order.order_number}}"
    var payment_method = 'paypal'
    var redirect_url="{% url "ordercomplete" %}"
     paypal.Buttons({
         style: {
             color:  'blue',
             shape:  'rect',
             label:  'pay',
             height: 40
         },
         createOrder: function(data, actions) {
             return actions.order.create({
                 purchase_units: [{
                     amount: {
                         value: amount,
                     }
                 }]
             });
         },
         onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                console.log(details);
                console.log({{ grand_total }});
                sendData();
                function sendData(){
                   fetch(url,{
                       method:"POST",
                       headers:{
                           "Content-type":"application/json",
                           "X-CSRFToken":csrftoken
                       },
                       body:JSON.stringify({
                           orderID:orderID,
                           transID:details.id,
                           payment_method:payment_method,
                           status:details.status
                       }),
                   })
                   .then(response => response.json())
                   .then(data => {
                    window.location.href = redirect_url + '?order_number=' + data.order_number + '&payment_id=' + data.transID;

                   });
               } 
            });
        }
     }).render('#paypal-button-container'); 
 </script>

    
</body>

</html>

 

