{% extends "admin.html" %}
{% block admin %}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <div class="container mt-5">
                    {% for user in users %}
                    <div class="card m-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                    class="rounded-circle img-fluid" style="width: 150px;">
                                </div>
                                <div class="col-md-6">
                                    <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
                                    <p class="card-text">Email: {{user.email }}</p>
                                    <p class="card-text">Phone: {{user.phone_number}}</p>
                                    <p class="card-text">Date Joined: {{user.date_joined}}</p>
                                </div>
                                <div class="col-md-3 text-end d-flex flex-column justify-content-around">
                                    <button class="btn btn-warning mb-2">Block</button>
                                    <button class="btn btn-secondary">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</section>
                
    

 
{% endblock admin %}