<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COZA STORE</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
    
    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/elegant-icons.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/magnific-popup.cs"%}s" type="text/css">
    <link rel="stylesheet" href="{% static "css/nice-select.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/slicknav.min.css"%}" type="text/css">
    <link rel="stylesheet" href="{% static "css/style.css"%}" type="text/css">
    {% comment %} paypal script {% endcomment %}
    
</head>

<body>
  <section style="background-color: #eee;">
    <div class="container py-5">
      {% include "dashboard/dashboardinclude.html" %}
      {% block dashboard %}
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.username}}</h5>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4 pt-4 pb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.first_name}} {{user.last_name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.phone_number}}</p>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Total Orders</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{orders_count}}</p>
                </div>
                
              </div>
              <hr>
            </div>
          </div>
      </div>
      {% endblock dashboard %}
    </div>
    
    <!-- Js Plugins -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo"data-sdk-integration-source="developer-studio"></script>
    <script src="{% static "js/jquery-3.3.1.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/jquery.nice-select.min.js"%}"></script>
    <script src="{% static "js/jquery.nicescroll.min.js"%}"></script>
    <script src="{% static "js/jquery.magnific-popup.min.js"%}"></script>
    <script src="{% static "js/jquery.countdown.min.js"%}"></script>
    <script src="{% static "js/jquery.slicknav.js"%}"></script>
    <script src="{% static "js/mixitup.min.js"%}"></script>
    <script src="{% static "js/owl.carousel.min.js"%}"></script>
    <script src="{% static "js/main.js"%}"></script>
</body>

</html>

{% comment %} 


  </section> {% endcomment %}