{% extends "dashboard/dashboard.html" %}

<section style="background-color: #eee;">
    <div class="container py-5">
        {% block dashboard %}

        <div class="row">
            {% include "alert.html" %}
            <div class="col-lg-12">
                <div class="card mb-4 pt-4 pb-3">
                    <h4 class="fw-bolder text-center p-2 "><strong>Your order history</strong></h4>
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th scope="col">Order #</th>
                                <th scope="col">Billing Name</th>
                                <th scope="col">Phone No</th>
                                <th scope="col">Order Total</th>
                                <th scope="col">Date</th>
                                <th scope="col">Order Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders  %}
                            <tr>
                                <th scope="row"><a href="{% url "myorderdetails" order.order_number %}" >{{order.order_number}}</a></th>
                                <td>{{order.full_name}}</td>
                                <td>{{order.phone}}</td>
                                <td>$ {{order.order_total}}</td>
                                <td>{{order.created_at}}</td>
                                <td >{{order.status}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endblock dashboard %}
        </div>
</section>